*{
  margin: 0rem;
  padding: 0rem;
}

:root{
  --bg1: #f7f7f7;
  --bg2: #ffffff;
  --text: #000000;
  --subtitle-bg: rgba(0, 0, 0, 0.2);
  --wave: url('./img/onda.svg');
}

@media(prefers-color-scheme:dark) {
  :root{
    --bg1: #0f0f0f;
    --bg2: #111010;
    --text: #ffffff;
    --subtitle-bg: rgba(255, 253, 253, .3);
    --wave: url('./img/onda-dark.svg');
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: var(--bg1);
  display: grid;
  gap: 3.75rem;
  justify-items: center;
  color: var(--text);
}

.bike{
  width: 100%;
  display: block;
}

ul{
  list-style: none;
  display: flex;
  gap: 1.25rem;
}

a{
  text-decoration: none;
}

p,h1,h2,h3{
  margin: 0rem;
}

p{
  font-size: 1.25rem;
  line-height: 1.3;
}

.links{
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  justify-content: center;
}

.links a{
  background: var(--bg2)f;
  padding: 0.9375rem 1.875rem;
  border-radius: 0.25rem;
  color: var(--text);
  text-transform: uppercase;
  display: block;
  border: 0.0625rem solid var(--bg2);
}

.links a:hover{
  border-color: #e21;
  transition: 0.1s ease-in;
}

.conteudo{
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 62.5rem;
}

.introducao{
  background: var(--bg2);
  padding: 2.5rem;
  text-align: right; 
  position: relative;
  display: grid;
  align-content: center;
  gap: 1.25rem;
  justify-items: end;
}

.introducao h1{
  font-size: 2rem;
}

.introducao::after{
  content: "";
  width: 3.75rem;
  height: 0.25rem;
  background: #e21;
  position: absolute;
  top: 1.875rem;
  right: -1.875rem;
}

.introducao-fit img{
  object-fit: cover;
  height: 100%;
}

.button{
  background: #e21;
  color: #ffffff;
  padding: 0.9375rem 1.875rem;
  border-radius: 0.25rem;
  text-transform: uppercase;
  
}

.button:hover{
  background: #c01000;
  transition: 0.3s ease-out;
}

.subtitulo{
  background: var(--wave);
  font-size: 4rem;
  text-transform: uppercase;
  color: var(--subtitle-bg);
  text-align: right;
  padding: 2.5rem;
  place-self: center;
}	

.vantagens{
  background: var(--bg2);
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.vantagens-item{
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.625rem 1.25rem;
  padding: 1.25rem;
  background: var(--bg2);
}


.vantagens-item:hover{
  border-left: 0.3125rem solid #e21;
  
}

.vantagens-item:nth-child(odd){
  background: var(--bg1);
}

.vantagens-item p{
  grid-column: 2;
}

.rodape{
  background: var(--bg2);
  text-align: center;
  padding: 2.5rem;
  box-sizing: border-box;
}

header{
  display: grid;
  gap: 3.75rem;
  justify-items: center;
}

footer{
  width: 100%;
}

.logo{
  color: var(--text);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.625rem;
  margin: 2.5rem 0rem 2.5rem 0rem;
}

@media (max-width: 1000px){
  .conteudo-vantagens{
    grid-template-columns: 1fr;
  }
  .subtitulo{
    text-align: center;
  }
}

@media (max-width: 600px){
  body{
    gap: 1.875rem;
    margin-top:1.25rem;
  }
  header{
    gap:1.875rem;
  }
  .conteudo{
    grid-template-columns: 1fr;
  }
  .introducao{
    text-align: left;
    justify-items: start;
  }
  .introducao::after{
    display: none;
  }
  .subtitulo{
    font-size: 3rem;
  }
}

@media (max-width: 400px){
  .subtitulo{
    font-size: 2rem;
  }
  p{
    font-size: 1rem;}
}

